In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
train_data = pd.read_csv(r'C:\Users\mohammad\Downloads\train (1).csv')
test_data = pd.read_csv(r'C:\Users\mohammad\Downloads\train (1).csv')

In [23]:
num_rows_train = len(train_data.index)
print("num rows in training data: " + str(num_rows_train))
print("num rows in test data: " + str(len(test_data.index)))


y_train = train_data.iloc[:,-1]
train_data.drop(columns=train_data.columns[-1], 
        axis=1, 
        inplace=True)

num rows in training data: 1460
num rows in test data: 1460

In [26]:
all_data = train_data.append(test_data, ignore_index=True)
print("num rows in all data: " + str(len(all_data.index)))
ids = all_data.drop('Id', axis=1)

num rows in all data: 2920

C:\Users\mohammad\AppData\Local\Temp\ipykernel_25120\2447917108.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = train_data.append(test_data, ignore_index=True)

In [27]:
all_data = pd.get_dummies(data=all_data)


all_data = all_data.fillna(-1)

all_data.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0

In [28]:
X_train = all_data.iloc[0:num_rows_train,:]
print("num rows in X train: " + str(len(X_train.index)))
print("num rows in y train: " + str(len(y_train.index)))
X_test = all_data.iloc[num_rows_train:,:]
print("num rows in X test: " + str(len(X_test.index)))
print("Training data features head: ")
print(X_train.head())
print()
print("Training data predictions head: ")
print(y_train.head())
print()
print("Test data features head:")
print(X_test.head())

num rows in X train: 1460
num rows in y train: 1460
num rows in X test: 1460
Training data features head:
   Id  MSSubClass  LotFrontage  LotArea  OverallQual  OverallCond  YearBuilt  \
0   1          60         65.0     8450            7            5       2003
1   2          20         80.0     9600            6            8       1976
2   3          60         68.0    11250            7            5       2001
3   4          70         60.0     9550            7            5       1915
4   5          60         84.0    14260            8            5       2000

   YearRemodAdd  MasVnrArea  BsmtFinSF1  ...  SaleType_ConLw  SaleType_New  \
0          2003       196.0         706  ...               0             0
1          1976         0.0         978  ...               0             0
2          2002       162.0         486  ...               0             0
3          1970         0.0         216  ...               0             0
4          2000       350.0         655  ...               0             0

   SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  SaleCondition_AdjLand  \
0             0            1                      0                      0
1             0            1                      0                      0
2             0            1                      0                      0
3             0            1                      1                      0
4             0            1                      0                      0

   SaleCondition_Alloca  SaleCondition_Family  SaleCondition_Normal  \
0                     0                     0                     1
1                     0                     0                     1
2                     0                     0                     1
3                     0                     0                     0
4                     0                     0                     1

   SaleCondition_Partial
0                      0
1                      0
2                      0
3                      0
4                      0

[5 rows x 290 columns]

Training data predictions head:
0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

Test data features head:
      Id  MSSubClass  LotFrontage  LotArea  OverallQual  OverallCond  \
1460   1          60         65.0     8450            7            5
1461   2          20         80.0     9600            6            8
1462   3          60         68.0    11250            7            5
1463   4          70         60.0     9550            7            5
1464   5          60         84.0    14260            8            5

      YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1  ...  SaleType_ConLw  \
1460       2003          2003       196.0         706  ...               0
1461       1976          1976         0.0         978  ...               0
1462       2001          2002       162.0         486  ...               0
1463       1915          1970         0.0         216  ...               0
1464       2000          2000       350.0         655  ...               0

      SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
1460             0             0            1                      0
1461             0             0            1                      0
1462             0             0            1                      0
1463             0             0            1                      1
1464             0             0            1                      0

      SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
1460                      0                     0                     0
1461                      0                     0                     0
1462                      0                     0                     0
1463                      0                     0                     0
1464                      0                     0                     0

      SaleCondition_Normal  SaleCondition_Partial
1460                     1                      0
1461                     1                      0
1462                     1                      0
1463                     0                      0
1464                     1                      0

[5 rows x 290 columns]

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [31]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_std = scaler.transform(X_train)
X_val_transf = scaler.transform(X_val)
X_test_transf = scaler.transform(X_test)

In [32]:
regr = linear_model.LinearRegression()

In [33]:
regr.fit(X_train, y_train)

LinearRegression()

In [34]:
r2_train = regr.score(X_train,y_train)
print("R^2 on training data: " + str(r2_train))

R^2 on training data: 0.9401454003464302

In [35]:
r2_validation = regr.score(X_val,y_val)
print("R^2 on validation data: " + str(r2_validation))

R^2 on validation data: 0.44377267188437886

In [36]:
pred_val = regr.predict(X_val)
print("Five first predictions: ")
print(pred_val[:5])
print()

Five first predictions:
[160536.64307101 343707.37847011  89843.95120922 177402.14668823
 320387.72170796]

In [39]:
import math
MSE = np.square(np.subtract(y_val,pred_val)).mean()   
   
rsme = math.sqrt(MSE)  
print("Root Mean Square Error:\n")  
print(rsme)

Root Mean Square Error:

65318.03006826614

In [40]:
print(X_train.shape)

(1168, 290)

In [41]:
num_components = list(range(1,289))   
list_of_pca_models = []
X_train_images = []
X_val_images = []
regression_models = []
training_rmse = []
validation_rmse = []
idx = 0
for i in num_components:
   
    list_of_pca_models.append(PCA(i))
    list_of_pca_models[idx].fit(X_train) 
    
    X_train_images.append(list_of_pca_models[idx].transform(X_train))
    X_val_images.append(list_of_pca_models[idx].transform(X_val))
    
    
    regression_model = linear_model.LinearRegression()
    regression_model.fit(X_train_images[idx], y_train)
    regression_models.append(regression_model)
    
   
    predictions_train = regression_model.predict(X_train_images[idx])
    predictions_val = regression_model.predict(X_val_images[idx])
    
 
    rmse_training = math.sqrt(np.square(np.subtract(predictions_train,y_train)).mean())
    training_rmse.append(rmse_training)
    rmse_validation =  math.sqrt(np.square(np.subtract(predictions_val,y_val)).mean()) 
    validation_rmse.append(rmse_validation)
    
    idx += 1

In [42]:
X_test_img = list_of_pca_models[19].transform(X_test)

In [43]:
pred_test = regression_models[19].predict(X_test_img)
print("First five predictions for test dataset: ")
print(pred_test[:5])
print()

First five predictions for test dataset:
[203125.30454749 185692.86219243 211569.04799315 168665.19261642
 286222.70351035]